{% extends "templates/layout/journey-base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'journey:confirm.pageTitle' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:confirm.heading' | translate }}</h1>
  <p class="govuk-body">{{ 'journey:confirm.paragraph' | translate }}</p>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">
    {{ govukButton({
      text: 'journey:confirm.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}