{% extends "templates/layout/journey-base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "templates/common/password-input-macro.njk" import govukInputWithShowPassword %}

{% set pageTitleName = 'journey:enterPassword.pageTitle' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:enterPassword.heading' | translate }}</h1>
  <p class="govuk-body">{{ 'journey:enterPassword.paragraph' | translate }}</p>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">

    {{ govukInputWithShowPassword({
      label: 'journey:enterPassword.inputLabel' | translate,
      id: "password"
    }) }}

    {{ govukButton({
      text: 'journey:enterPassword.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}