{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'journey:create.pageTitle' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:create.heading' | translate }}</h1>

  <form method="post" id="verifyPasskeyForm">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">
    <input type="hidden" name="registrationResponse" value='""'> 
  </form>

  {{ govukButton({
    text: 'journey:create.buttonLabel' | translate,
    preventDoubleClick: true,
    id: "verifyPasskeyButton"
  }) }}

  <p class="govuk-body"><a href="#TODO" class="govuk-link govuk-link--no-visited-state">{{ 'journey:create.exitJourneyLinkText' | translate }}</a></p>  
{% endblock %}

{% block scripts %}
<script src="/@simplewebauthn/browser/index.es5.umd.min.js?{{ globals.simpleWebAuthNBrowserStaticHash }}" nonce='{{ cspNonce }}'></script>

<script id="verifyPasskeyScript" nonce="{{ cspNonce }}" data-registration-options="{{ registrationOptions }}">
  if (SimpleWebAuthnBrowser.browserSupportsWebAuthn()) {
    async function registerPasskey() {
      const thisScript = document.getElementById('verifyPasskeyScript');
      const registrationOptions = JSON.parse(thisScript.dataset.registrationOptions);
      const registrationResponse = await SimpleWebAuthnBrowser.startRegistration(registrationOptions);

      const verifyPasskeyForm = document.getElementById('verifyPasskeyForm');
      verifyPasskeyForm.querySelector('input[name="registrationResponse"]').value = JSON.stringify(registrationResponse);
      verifyPasskeyForm.requestSubmit();
    }

    document.getElementById('verifyPasskeyButton').addEventListener('click', registerPasskey);
  } else {
    // TODO do something in this scenario e.g. hide the form and show an error message
  }
</script>
{% endblock %}