{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitleName = 'journey:success.pageTitle' | translate %}

{% block pageContent %}
  {{ govukPanel({
      titleText: 'journey:success.heading' | translate
  }) }}

  {% set paragraphs = 'journey:success.paragraphs' | translate({ returnObjects: true }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">
    {{ govukButton({
      text: 'journey:success.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>  
{% endblock %}