{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitleName = 'journey:success.pageTitle' | translate %}

{% block pageContent %}
  {{ govukPanel({
      titleText: 'journey:success.heading' | translate
  }) }}

  {% set paragraphs = 'journey:success.paragraphs' | translate({ returnObjects: true }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  {{ govukButton({
    text: 'journey:success.buttonLabel' | translate,
    href: "TODO",
    attributes: {
      "data-nav": true,
      "data-link": "TODO"
    }
  }) }}
{% endblock %}