ENVIRONMENT=local
NODE_ENV=production
USE_LOCALSTACK=1
MOCK_CLIENT_EC_PRIVATE_KEY_SSM_NAME=/components-mocks/MockClientEcPrivateKey
MOCK_CLIENT_EC_PUBLIC_KEY_SSM_NAME=/components-mocks/MockClientEcPublicKey
MOCK_CLIENT_RSA_PRIVATE_KEY_SSM_NAME=/components-mocks/MockClientRsaPrivateKey
MOCK_CLIENT_RSA_PUBLIC_KEY_SSM_NAME=/components-mocks/MockClientRsaPublicKey
JAR_RSA_ENCRYPTION_KEY_ALIAS=alias/components-core-JARRSAEncryptionKey
DEFAULT_AUDIENCE=http://localhost:6002/authorize
AMC_API_BASE_URL=http://localhost:6004
ACCESS_TOKEN_ISSUER=http://localhost:6003
AUTHORIZE_URL=http://localhost:6002/authorize
AWS_REGION=eu-west-2
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCAL_KMS_ENDPOINT=http://localhost:4567
LOCALSTACK_ACCESS_KEY_ID=test
LOCALSTACK_ACCESS_KEY=test
ROOT_DOMAIN=localhost