{
  "Parameters": {
    "NODE_OPTIONS": "--enable-source-maps",
    "ENVIRONMENT": "local",
    "NODE_ENV": "production",
    "USE_LOCALSTACK": "1",
    "LOCALSTACK_ENDPOINT": "http://host.docker.internal:4566",
    "LOCALSTACK_ACCESS_KEY_ID": "test",
    "LOCALSTACK_ACCESS_KEY": "test"    
  },
  "AuthorizeLambda": {
    "AUTHORIZE_ERROR_PAGE_URL": "http://localhost:6002/authorize-error"
  } 
}
