{
  "Parameters": {
    "AWS_REGION": "eu-west-2",
    "NODE_OPTIONS": "--enable-source-maps",
    "ENVIRONMENT": "local",
    "NODE_ENV": "production",
    "USE_LOCAL_AWS": "1",
    "LOCAL_AWS_ENDPOINT": "http://account-components-floci:4566",
    "LOCAL_AWS_KMS_ENDPOINT": "http://account-components-local-kms:8080",
    "LOCAL_AWS_ACCESS_KEY_ID": "test",
    "LOCAL_AWS_ACCESS_KEY": "test"
  },
  "ApiTokenLambda": {
    "AUTH_TABLE_NAME": "amc-AuthCode",
    "REPLAY_ATTACK_TABLE_NAME": "amc-ReplayAttack",
    "JWT_SIGNING_KEY_ALIAS": "alias/amc-JWTSigningKey"
  },
  "ApiJourneyOutcomeLambda": {
    "JWT_SIGNING_KEY_ALIAS": "alias/amc-JWTSigningKey",
    "JOURNEY_OUTCOME_TABLE_NAME": "amc-JourneyOutcome"
  }
}
