{
  "Parameters": {
    "NODE_OPTIONS": "--enable-source-maps",
    "ENVIRONMENT": "local",
    "NODE_ENV": "production",
    "USE_LOCALSTACK": "1",
    "LOCALSTACK_ENDPOINT": "http://account-components-localstack:4566",
    "LOCAL_KMS_ENDPOINT": "http://account-components-local-kms:8080",
    "LOCALSTACK_ACCESS_KEY_ID": "test",
    "LOCALSTACK_ACCESS_KEY": "test"    
  },
  "AuthorizeLambda": {
    "AUTHORIZE_ERROR_PAGE_URL": "http://localhost:6002/authorize-error",
    "JAR_RSA_ENCRYPTION_KEY_ALIAS": "alias/components-core-JARRSAEncryptionKey",
    "AUTHORIZE_ENDPOINT_URL": "http://localhost:6004/authorize",
    "REPLAY_ATTACK_TABLE_NAME": "components-api-ReplayAttack",
    "API_SESSIONS_TABLE_NAME": "components-core-ApiSessions",
    "API_SESSION_COOKIE_DOMAIN": "localhost",
    "FRONTEND_URL": "http://localhost:6002"
  },
  "TokenLambda": {
    "AUTH_TABLE_NAME": "components-core-AuthCode",
    "REPLAY_ATTACK_TABLE_NAME": "components-api-ReplayAttack",
    "TOKEN_ENDPOINT_URL": "http://localhost:6004/token",
    "JOURNEY_OUTCOME_ENDPOINT_URL": "http://localhost:6004/journeyoutcome",
    "JWT_SIGNING_KEY_ALIAS": "alias/components-core/JWTSigningKey",
  },
  "JourneyOutcomeLambda": {
    "JWT_SIGNING_KEY_ALIAS": "alias/components-core/JWTSigningKey",
    "TOKEN_ENDPOINT_URL": "http://localhost:6004/token",
    "JOURNEY_OUTCOME_ENDPOINT_URL": "http://localhost:6004/journeyoutcome"
  }
}
