.DS_Store
node_modules
coverage
.eslintcache
.env*
!.env*.sample
!.env.openapi
.aws-sam

projects/app/dist
projects/app/dist_openapi
projects/app/openapi_check*.yaml

projects/infra/.terraform
projects/infra/.terraform.lock.hcl

projects/integration-tests/test-results/
projects/integration-tests/playwright-report/
projects/integration-tests/blob-report/
projects/integration-tests/playwright/.cache/
projects/integration-tests/.features-gen
projects/integration-tests/cucumber-report
projects/integration-tests/snapshots-updated
