{% extends "templates/base-page.njk" %}

{% block pageContent %}
    <h1>AMC Journey Initiator Stub</h1>
    {% if not authorizeUrl %}
    <form method="post" action="/">
        <fieldset>
            <legend>Scopes</legend>
            {% for scope in availableScopes %}
                <label for="{{ scope }}_scope">
                    {% if loop.first %}
                        <input id="{{ scope }}_scope" type="radio" name="scope" value="{{ scope }}" checked=true/> {{ scope }}
                    {% else %}
                        <input id="{{ scope }}_scope" type="radio" name="scope" value="{{ scope }}" /> {{ scope }}
                    {% endif %}
                </label>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Scenario</legend>
            {% for scenario in availableScenarios %}
            <div>
                <label for="{{ scenario }}_scenario">
                {% if loop.first %}
                    <input id="{{ scenario }}_scenario" type="radio" name="scenario" value="{{ scenario }}" checked=true/> {{ scenario }}
                {% else %}
                    <input id="{{ scenario }}_scenario" type="radio" name="scenario" value="{{ scenario }}" /> {{ scenario }}
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Client</legend>
            <select name="client_id">
                {% for client in availableClients %}
                    <option value="{{ client.client_id }}">{{ client.client_name }} ({{ client.client_id }})</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <legend>User</legend>
            {% for user in availableUsers %}
            <div>
                <label for="{{ user }}_user">
                {% if loop.first %}
                    <input id="{{ user }}_user" type="radio" name="user" value="{{ user }}" checked=true/> {{ user }}
                {% else %}
                    <input id="{{ user }}_user" type="radio" name="user" value="{{ user }}" /> {{ user }}
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Nonce (optional)</legend>
            <input type="text" name="jti" />
            <i>Leave blank to auto-generate</i>
        </fieldset>
        <fieldset>
            <legend>Expiry (in seconds, optional)</legend>
            <input type="number" name="exp" min="0"/>
            <i>Ignored if <b>iatInFuture</b> or <b>expired</b> scenario is chosen</i>
        </fieldset>
        <fieldset>
            <legend>Issuer (optional)</legend>
            <input type="text" name="iss" />
            <i>Leave blank to be set to client_id</i>
        </fieldset>
        <fieldset>
            <legend>State (optional)</legend>
            <input type="text" name="state" />
            <i>Leave blank to auto-generate</i>
        </fieldset>
        <fieldset>
            <legend>Include refresh_token</legend>
            <input type="radio" id="include" name="refresh_token" value="true" />
            <label for="include">true</label>
            <input type="radio" id="exclude" name="refresh_token" value="false" checked/>
            <label for="exclude">false</label>
        </fieldset>
        <input type="submit" value="Generate Request Object">
    </form>
    {% endif %}
    {% if authorizeUrl %}
        <a href="{{ authorizeUrl }}" class="button">Start AMC Journey</a>
        <a href="/" class="button">Reset</a>
        <h2>Options Chosen</h2>
        <pre>{{ originalRequest | dump(2) | safe }}</pre>
        <h2>JWT Request Object</h2>
        <h3>Header</h3>
        <pre>{{ jwtHeader | dump(2) | safe }}</pre>
        <h3><a href="https://govukverify.atlassian.net/wiki/spaces/DID/pages/5654708312/High+Level#Process-Description">Payload</a></h3>
        <pre>{{ jwtPayload | dump(2) | safe }}</pre>
        <h2>Emulated Redirect URL</h2>
        <pre>{{ authorizeUrl }}</pre>
    {% endif %}
{% endblock %}