<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AMC Journey Initiator Stub</title>
        <link href="/static/application.css?{{ globals.staticHash }}" rel="stylesheet" nonce='{{ styleNonce }}'>
    </head>
    <body>
      {% block pageContent %}{% endblock %}
    </body>
</html>