{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% macro govukInputWithShowPassword(settings) %}
    {{ govukPasswordInput({
      label: {
        text: settings.label
      },
      name: settings.id,
      type: "password",
      spellcheck: false,
      hint: {
        text: settings.hint
      } if settings.hint,
      errorMessage: {
        text: settings.errors[settings.id].text,
        attributes: { "data-testid": settings.id + "-error"}
      } if (settings.errors[settings.id]),
      showPasswordText: 'general.passwordInput.show' | translate,
      hidePasswordText: 'general.passwordInput.hide' | translate,
      showPasswordAriaLabelText: 'general.passwordInput.showFullText' | translate,
      hidePasswordAriaLabelText: 'general.passwordInput.hideFullText' | translate,
      passwordShownAnnouncementText: 'general.passwordInput.announceShown' | translate,
      passwordHiddenAnnouncementText: 'general.passwordInput.announceHidden' | translate
    })}}
{% endmacro %}