@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/pagination/pagination";
@import "components/panel/panel";
@import "components/password-input/password-input";
@import "components/phase-banner/phase-banner";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/warning-text/warning-text";
@import "components/radios/radios";
// end Design System component imports

// FEC language toggle component import
@import "components/language-select";

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

// the modifier below is in place to remove the non-optional blue border at the bottom of the Design System header component
// this is not ideal, however since there is no option/flag to remove the border from the component, it is the only way
.govuk-header--with-account-navigation {
  border-bottom: 0;

  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .govuk-header__logo {
    float: left;
    width: 100%;
  }
}

.govuk-header--with-signout {
  .govuk-template--rebranded & {
    .govuk-header__logo {
      width: 100%;
    }
  }
}

.account-navigation {
  background-color: govuk-colour("light-grey");
  .govuk-template--rebranded & {
    background-color: $_govuk-rebrand-template-background-colour;
    border-bottom: 1px solid $_govuk-rebrand-border-colour-on-blue-tint-95;
  }
  border-bottom: 1px solid $govuk-border-colour;
  position: relative;
}

.account-navigation__list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-navigation__list-item {
  display: inline-block;
  margin: 0 govuk-spacing(4) 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6) 0 0;
  }
}

$nav-link-padding: govuk-spacing(3);
$nav-link-outline-thickness: 2px;
$nav-active-border-thickness: 5px;
$nav-link-padding-left: $nav-link-padding - 2;
$nav-button-padding-bottom: $nav-link-padding + $nav-link-outline-thickness;

/* Combined styles for buttons */
.account-header-navigation__button {
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
    span {
      @include govuk-focused-text;
    }
  }
}

/* Specific styles for .account-header-navigation__button */
.account-header-navigation__button-content {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  @include govuk-link-style-inverse;

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

// /* Positioning for the navigation form */

.account-header-navigation__form {
  position: absolute;
  padding: govuk-spacing(2) 0 govuk-spacing(2) 0;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);

  @include govuk-media-query($until: 480px) {
    position: relative;
    padding-top: govuk-spacing(1);
    transform: none;
  }
}

.account-navigation__link {
  @extend .govuk-link;
  display: inline-block;
  padding: $nav-link-padding-left 0 $nav-link-padding;
  margin-top: $nav-link-outline-thickness;

  &:not(:hover) {
    text-decoration: none;
  }

  &:visited {
    color: $govuk-link-colour;

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .account-navigation__list-item--active & {
    border-bottom: $nav-active-border-thickness solid $govuk-link-colour;
    padding: $nav-link-padding-left 0 govuk-spacing(2);

    &:focus {
      border-bottom: none;
      padding: $nav-link-padding-left 0 $nav-link-padding;
      margin-top: $nav-link-outline-thickness;
    }

    &:hover {
      border-color: $govuk-link-hover-colour;
    }
  }
}
