@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/pagination/pagination";
@import "components/panel/panel";
@import "components/password-input/password-input";
@import "components/phase-banner/phase-banner";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/warning-text/warning-text";
@import "components/radios/radios";
// end Design System component imports

// FEC language toggle component import
@import "components/language-select";

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

// the modifier below is in place to remove the non-optional blue border at the bottom of the Design System header component
// this is not ideal, however since there is no option/flag to remove the border from the component, it is the only way
.govuk-header--with-account-navigation {
  border-bottom: 0;

  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .govuk-header__logo {
    float: left;
    width: 100%;
  }
}

.govuk-header--with-signout {
  .govuk-template--rebranded & {
    .govuk-header__logo {
      width: 100%;
    }
  }
}

// Temporarily over-write the CSS of the Tag with the old style preceding govuk-frontend v5
// This is to keep the Phase banner cohesive while different parts of One Login upgrade to v5+

.govuk-tag {
  @include govuk-font($size: 16, $weight: bold, $line-height: 1);
  display: inline-block;

  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;

  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;
  letter-spacing: 1px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;

  // the most important properties for keeping the phase banner looking the same have been !important-ed
  // we use the yellow variation in non-prod environments
  &:not(.govuk-tag--yellow) {
    color: govuk-colour("white") !important;
    background-color: govuk-colour("blue") !important;
  }
}
