{% extends "public/frontend/layout/base-page.njk" %}
{% set pageTitleName = 'MY TEST TITLE' %}
{% set backLink = '/testbacklink' %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'general.heading' | translate }}</h1>
  <p class="govuk-body">test body text</p>
{% endblock %}