ENVIRONMENT=local
NODE_ENV=production
USE_LOCALSTACK=1
SESSIONS_SIGNER=localsessionsignerwhichmustbeatleast32chars
SESSIONS_TABLE_NAME=components-main-SessionStore
ROOT_COOKIE_DOMAIN=localhost
AWS_REGION=eu-west-2
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_ACCESS_KEY_ID=test
LOCALSTACK_ACCESS_KEY=test
AUTHORIZE_ERROR_PAGE_URL=http://localhost:6002/authorize-error
API_SESSION_COOKIE_DOMAIN=localhost
API_SESSIONS_TABLE_NAME=components-api-ApiSessions
AUTHORIZE_ENDPOINT_URL=http://localhost:6004/authorize