{% extends "public/frontend/layout/base-page.njk" %}
{% set pageTitleName = 'error.error500.title' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'error.error500.header' | translate }}</h1>
  <p class="govuk-body">{{ 'error.error500.content.paragraph1' | translate }}</p>
{% endblock %}