{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'journey:enterPassword.pageTitle' | translate %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">

    {{ govukPasswordInput({
        label: {
          text: 'journey:enterPassword.inputLabel' | translate,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        name: "password",
        errorMessage: {
          text: errors.password.text
        } if (errors.password)})
    }}

    {{ govukButton({
      text: 'journey:enterPassword.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}