{% extends "templates/layout/base-page.njk" %}
{% from "templates/common/password-input-macro.njk" import govukInputWithShowPassword %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'journey:enterPassword.pageTitle' | translate %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">

    {{ govukInputWithShowPassword({
      label:{
        text: 'journey:enterPassword.inputLabel' | translate,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: "password",
      errors: { 
        password: { 
          text: errors.password.text 
        }
      } if errors.password
    }) }}

    {{ govukButton({
      text: 'journey:enterPassword.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}