{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'journey:introduction.pageTitle' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:introduction.heading' | translate }}</h1>

  {% set paragraphs = 'journey:introduction.paragraphs' | translate({ returnObjects: true }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">
    {{ govukButton({
      text: 'journey:introduction.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>

  {% set exitJourneyUrl = globals.buildRedirectToClientRedirectUri(globals.authorizeErrors.userAborted) %}
  {% set exitJourneyUrlQueryParams = exitJourneyUrl | getQueryParamsFromUrl %}

  <form action="{{ exitJourneyUrl }}" method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">

    {% for key, value in exitJourneyUrlQueryParams %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

    {{ govukButton({
      text: 'journey:introduction.exitJourneyLinkText' | translate,
      classes: "govuk-button--secondary",
      preventDoubleClick: true
    }) }}
  </form>  

  <p class="govuk-body"><a href="{{ exitJourneyUrl }}" class="govuk-link govuk-link--no-visited-state">{{ 'journey:introduction.exitJourneyLinkText' | translate }}</a></p>
{% endblock %}