{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'journey:lockedOutSecurityCodeEnteredTooManyTimes.pageTitle' | translate %}
{% set englishPageTitleName = 'journey:lockedOutSecurityCodeEnteredTooManyTimes.pageTitle' | getFixedT_en %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:lockedOutSecurityCodeEnteredTooManyTimes.heading' | translate }}</h1>

  {% set paragraphs = 'journey:lockedOutSecurityCodeEnteredTooManyTimes.paragraphs' | translate({ returnObjects: true }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph | translate({
      exitLinkUrl: globals.buildCompleteFailedJourneyUri(globals.unsuccessfulJourneyActionErrors.userAbortedJourney)
    }) | safe }}</p>
  {% endfor %}
{% endblock %}