{% extends "templates/layout/base-page.njk" %}

{% set pageTitleName = 'journey:lockedOutPasswordEnteredTooManyTimes.pageTitle' | translate %}
{% set englishPageTitleName = 'journey:lockedOutPasswordEnteredTooManyTimes.pageTitle' | getFixedT_en %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:lockedOutPasswordEnteredTooManyTimes.heading' | translate }}</h1>

  {% set paragraphs = 'journey:lockedOutPasswordEnteredTooManyTimes.paragraphs' | translate({
    returnObjects: true,
    exitLinkUrl: globals.buildCompleteFailedJourneyUri(globals.unsuccessfulJourneyActionErrors.userAbortedJourney)
  }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph | safe }}</p>
  {% endfor %}
{% endblock %}