{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleName = 'journey:resendEmailVerificationCode.pageTitle' | translate %}
{% set englishPageTitleName = 'journey:resendEmailVerificationCode.pageTitle' | getFixedT_en %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:resendEmailVerificationCode.heading' | translate }}</h1>

  {{ govukInsetText({
      text: 'journey:resendEmailVerificationCode.emailAddress' | translate({
        emailAddress: emailAddress
      }) | safe
  })}}

  {% set paragraphs = 'journey:resendEmailVerificationCode.paragraphs' | translate({ returnObjects: true }) %}

  {% for paragraph in paragraphs %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">
    {{ govukButton({
      text: 'journey:resendEmailVerificationCode.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}