{% extends "templates/layout/base-page.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleName = 'journey:verifyEmailAddress.pageTitle' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'journey:verifyEmailAddress.heading' | translate }}</h1>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ globals.csrfToken }}">

    {{ govukInsetText({
        text: 'journey:verifyEmailAddress.emailAddress' | translate({
          emailAddress: emailAddress
        }) | safe
    })}}

    {{ govukInput({
        label: {
            text: 'journey:verifyEmailAddress.codeInputLabel' | translate
        },
        classes:"govuk-input--width-5",
        name: "code",
        inputmode: "numeric",
        spellcheck: false,
        errorMessage: {
          text: errors.code.text
        } if (errors.code)})
    }}

    {{ govukButton({
      text: 'journey:verifyEmailAddress.buttonLabel' | translate,
      preventDoubleClick: true
    }) }}
  </form>
  <p class="govuk-body"><a href="{{ resendCodeLinkUrl }}" class="govuk-link govuk-link--no-visited-state">{{ 'journey:verifyEmailAddress.resendCodeLinkText' | translate }}</a></p>
{% endblock %}