{% extends "templates/layout/base.njk" %}
{% block content %}
<div class="govuk-grid-row" {% if rowContainerId %} id="{{ rowContainerId }}"{% endif %}>
  <div class="govuk-grid-column-two-thirds">
    {% include "templates/errors/errorSummary.njk" %}
    {% block pageContent %}{% endblock %}
  </div>
</div>
{% endblock %}
