{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "frontend-ui/build/components/footer/macro.njk" import frontendUiFooter %}
{% from "frontend-ui/build/components/language-select/macro.njk" import frontendUiLanguageSelect %}

{% set htmlLang = globals.htmlLang %}

{%- set headerClasses -%}
{%- if reply.client.consider_user_logged_in %} govuk-header--with-signout {%- endif -%}
{%- endset-%}

{% block pageTitle %}
  {%- if error or errors %} {{ 'general.errorTitlePrefix' | translate }} - {% endif -%}
  {%- if pageTitleName -%}
      {{ pageTitleName }}
      {%- if not hideTitleProductName %} - {% endif -%}
  {% endif -%}
  {{ 'general.serviceNameTitle' | translate if not hideTitleProductName}}
{%- endblock %}

{% block bodyStart %}
  {% include 'templates/layout/cookieBanner.njk' %}
{% endblock %}

{% block head %}
  {% if globals.dynatraceRumUrl %}
    <script src='{{ globals.dynatraceRumUrl }}' crossorigin="anonymous" nonce='{{ cspNonce }}'></script>
  {% endif %}
 <link href="/static/application.css?{{ globals.staticHash }}" rel="stylesheet" nonce='{{ styleNonce }}'>
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "FECTranslations.skipLink.title" | translate,
    href: "#main-content"
  }) }}
{% endblock %}

{% block header %}
    {% include 'templates/layout/header.njk' %}
    {% if reply.client.consider_user_logged_in %}
      {% include 'templates/layout/navigation.njk' %}
    {% endif %}    
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {% if isProd %}
      {% set bannerHtml %}
        {{ 'FECTranslations.phaseBanner.text' | translate }} <a href='{{ globals.authFrontEndUrl + "/contact-us-questions?theme=suggestions_feedback" }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'FECTranslations.phaseBanner.link' | translate | replace(".","") }}</a>.
      {% endset %}
      {{ govukPhaseBanner({
          tag: {
            text: 'FECTranslations.phaseBanner.tag' | translate
          },
          html: bannerHtml
      })}}
    {% else %}
      {{ govukPhaseBanner({
          tag: {
            text: "TEST",
            classes: "govuk-tag--yellow"
          },
          text: 'general.phaseBanner.testText' | translate
      })}}
    {% endif %}

    {{ frontendUiLanguageSelect({
        url: globals.currentUrl,
        activeLanguage: globals.htmlLang,
        translations: 'FECTranslations.languageSelect' | translate
      }) 
    }}
    {% block backLinkBlock %}
      {% if backLink %}
        <a href="{{backLink}}" class="govuk-back-link js-back-link">
          {{ backLinkText }}
          {{'general.back' | translate if not backLinkText}}
        </a>
      {% endif %}
    {% endblock %}
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
        {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ frontendUiFooter({ translations: 'FECTranslations.footer' | translate({returnObjects: true}) })}}
{% endblock %}


{% block bodyEnd %}
    {% block scripts %}{% endblock %}

    <script type="module" src="/public/scripts/govuk-frontend.min.js?{{ globals.publicScriptsHash }}" nonce='{{ cspNonce }}'></script>

    <script type="module"  nonce='{{ cspNonce }}'>
      import { initAll } from '/public/scripts/govuk-frontend.min.js?{{ globals.publicScriptsHash }}'
      initAll()
    </script>
    <script src="/public/scripts/analytics.js?{{ globals.publicScriptsHash }}" nonce='{{ cspNonce }}'></script>
    <script nonce='{{ cspNonce }}'>
      {% if backLinkJS %}
        var backLink = document.querySelector('.js-back-link');
        if (backLink) {
          backLink.addEventListener('click', function(e) {
            var referrer = new URL(document.referrer).hostname;

            if (referrer === document.location.hostname && window.history.length > 2) {
              event.preventDefault();
              window.history.back();
            }
          });
        }
      {% endif %}
    </script>
    <script nonce='{{ cspNonce }}'>
    if (window.DI) {
      window.DI.appInit({
        ga4ContainerId: {{ globals.ga4ContainerId | default("") | dump | safe }}
      }, {
        enableGa4Tracking: {{ globals.analyticsEnabled | default(false) | dump | safe }},
        cookieDomain: {{ globals.analyticsCookieDomain | default("") | dump | safe }},
        isDataSensitive: false,
        isPageDataSensitive: {{ reply.analytics.isPageDataSensitive | default(true) | dump | safe }},
        enablePageViewTracking: true,
        enableFormResponseTracking: true,
        enableFormChangeTracking: true,
        enableFormErrorTracking: true,
        enableNavigationTracking: true,
        enableSelectContentTracking: {{ reply.analytics.isSelectContentTrackingEnabled | default(false) | dump | safe }}
      });
    }

    {% if reply.analytics %}
      window.addEventListener('load', function () {
        if (window.DI && window.DI.analyticsGa4) {
            window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
                statusCode: {{ reply.statusCode | default(200) | dump | safe }},
                taxonomy_level1: {{ reply.analytics.taxonomyLevel1 | default("") | dump | safe }},
                taxonomy_level2: {{ reply.analytics.taxonomyLevel2 | default("") | dump | safe }},
                taxonomy_level3: {{ reply.analytics.taxonomyLevel3 | default("") | dump | safe }},
                content_id: {{ reply.analytics.contentId | default("") | dump | safe }},
                logged_in_status: {{ reply.client.consider_user_logged_in | default(false) | dump | safe }},
                dynamic: {{ reply.analytics.dynamic | default(true) | dump | safe }}
            });
        }
      });
    {% endif %}
  </script>
  <script type="module" src="/fingerprint/index.js?{{ globals.deviceIntelligenceHash }}" nonce='{{ cspNonce }}'></script>
  <script type="module" nonce='{{ cspNonce }}'>
    import { setFingerprintCookie } from "/fingerprint/index.js?{{ globals.deviceIntelligenceHash }}";
    setFingerprintCookie({% if globals.env == "local" %}"localhost"{% endif %});
  </script>
{% endblock %}