<html>
    <head>
        <title>AMC Journey Initiator Stub</title>
    </head>
    <body>
        <h1>Client calback</h1>
        {% if errorDetails %}
            <p>Client callback called with the parameters:</p>
            <ul>
                <li><strong>Error:</strong> {{ errorDetails.error }}</li>
                <li><strong>Error description:</strong> {{ errorDetails.error_description }}</li>
                <li><strong>State:</strong> {{ errorDetails.state }}</li>
            </ul>
        {% endif %}
        {% if exception %}
            <p>An error occurred:</p>
            <pre>{{ exception | JSON.stringify(null, 2) }}</pre>
        {% endif %}        
    </body>
</html>
