{% extends "templates/layout/base-page.njk" %}
{% set pageTitleName = 'error.authorizeError.title' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'error.authorizeError.header' | translate }}</h1>
  <p class="govuk-body">{{ 'error.authorizeError.content.paragraph1' | translate }}</p>
{% endblock %}