name: Deploy API

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - solutions/api/**
      - solutions/commons/**
      - .github/workflows/deploy-api.yaml
      - package.json
      - package-lock.json
      - .npmrc
      - .nvmrc
      - tsconfig.json

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy-api:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: .nvmrc

      - name: Set up SAM CLI
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800
        with:
          use-installer: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
        with:
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN_API }}
          aws-region: "eu-west-2"

      - name: Install dependencies
        run: npm ci

      - name: Build API
        run: npm run build:api

      - name: Deploy API
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET_NAME_API }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          working-directory: ./solutions/api
          template-file: .aws-sam/build/template.yaml
