name: Dev - Deploy Configuration

on:
  workflow_dispatch:
    inputs:
      gitRef:
        description: "Input branch name, commit SHA, or tag"
        required: true
        type: string
        default: main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy Config (Dev)
    uses: ./.github/workflows/deploy-config.yaml
    permissions:
      id-token: write
      contents: read
    with:
      gh-environment: development
      target-environment: dev
      config-file: dev-config.json
      git-ref: ${{ inputs.gitRef }}
    secrets:
      config-source-bucket-name: ${{ secrets.DEV_APP_CONFIG_SOURCE_BUCKET_NAME }}
      aws-role-arn: ${{ secrets.DEV_GHA_APP_CONFIG_ROLE_ARN }}
      aws-artefact-signing-key-arn: ${{ secrets.DEV_CONFIG_SIGNING_KEY_ARN }}
