name: Integration test

permissions: {}

on:
  pull_request:
  merge_group:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      # Necessary to prevent localstack errors
      - name: Upgrade click
        run: pip3 install --upgrade click

      - name: Install LocalStack CLIs
        uses: LocalStack/setup-localstack@9392b05ddb345894c2e86305fc426566e738c1db
        with:
          skip-startup: "true"

      - name: Configure frontend environment
        run: |
          cd solutions/frontend
          cat > .env.integration-tests << 'EOF'
          ENVIRONMENT=local
          NODE_ENV=production
          USE_LOCALSTACK=1
          SESSIONS_SIGNER=localsessionsignerwhichmustbeatleast32chars  
          SESSIONS_TABLE_NAME=components-main-SessionStore
          ROOT_COOKIE_DOMAIN=localhost
          AWS_REGION=eu-west-2
          LOCALSTACK_ENDPOINT=http://localhost:4566
          LOCAL_KMS_ENDPOINT=http://localhost:4567
          LOCALSTACK_ACCESS_KEY_ID=test
          LOCALSTACK_ACCESS_KEY=test
          API_SESSION_COOKIE_DOMAIN=localhost    
          API_SESSIONS_TABLE_NAME=components-core-ApiSessions
          AUTHORIZE_ENDPOINT_URL=http://localhost:6004/authorize
          AUTH_CODE_TABLE_NAME=components-core-AuthCode
          JOURNEY_OUTCOME_TABLE_NAME=components-core-JourneyOutcome    
          AUTH_FRONTEND_URL=https://signin.account.gov.uk
          ANALYTICS_COOKIE_DOMAIN=localhost       
          ACCOUNT_MANAGEMENT_API_URL=http://localhost:6003/account-management-api
          CONTACT_URL=https://home.dev.account.gov.uk/contact-gov-uk-one-login          
          GA4_CONTAINER_ID=GTM-KD86CMZ
          ANALYTICS_ENABLED=1
          YOUR_SERVICES_URL=https://home.dev.account.gov.uk/your-services
          SECURITY_URL=https://home.dev.account.gov.uk/security
          EOF

      - name: Configure stubs environment
        run: |
          cd solutions/stubs
          cat > .env.integration-tests << 'EOF'
          ENVIRONMENT=local
          NODE_ENV=production
          USE_LOCALSTACK=1
          MOCK_CLIENT_EC_PRIVATE_KEY_SSM_NAME=/components-mocks/MockClientEcPrivateKey  
          MOCK_CLIENT_EC_PUBLIC_KEY_SSM_NAME=/components-mocks/MockClientEcPublicKey  
          JAR_RSA_ENCRYPTION_KEY_ALIAS=alias/components-core-JARRSAEncryptionKey 
          DEFAULT_AUDIENCE=http://localhost:6004/authorize
          ACCESS_TOKEN_ISSUER=http://localhost:6003
          AUTHORIZE_URL=http://localhost:6004/authorize
          AWS_REGION=eu-west-2
          LOCALSTACK_ENDPOINT=http://localhost:4566
          LOCAL_KMS_ENDPOINT=http://localhost:4567
          LOCALSTACK_ACCESS_KEY_ID=test
          LOCALSTACK_ACCESS_KEY=test      
          API_TOKEN_ENDPOINT_URL=http://localhost:6004/token    
          API_JOURNEY_OUTCOME_ENDPOINT_URL=http://localhost:6004/journeyoutcome    
          EOF

      - name: Configure API environment
        run: |
          cd solutions/api
          cat > env.integration-tests.json << 'EOF'
          {
            "Parameters": {
              "NODE_OPTIONS": "--enable-source-maps",
              "ENVIRONMENT": "local",
              "NODE_ENV": "production",
              "USE_LOCALSTACK": "1",
              "LOCALSTACK_ENDPOINT": "http://account-components-localstack:4566",
              "LOCAL_KMS_ENDPOINT": "http://account-components-local-kms:8080",
              "LOCALSTACK_ACCESS_KEY_ID": "test",
              "LOCALSTACK_ACCESS_KEY": "test"
            },
            "AuthorizeLambda": {
              "AUTHORIZE_ERROR_PAGE_URL": "http://localhost:6002/authorize-error",
              "JAR_RSA_ENCRYPTION_KEY_ALIAS": "alias/components-core-JARRSAEncryptionKey",
              "AUTHORIZE_ENDPOINT_URL": "http://localhost:6004/authorize",
              "REPLAY_ATTACK_TABLE_NAME": "components-api-ReplayAttack",
              "API_SESSIONS_TABLE_NAME": "components-core-ApiSessions",
              "API_SESSION_COOKIE_DOMAIN": "localhost",
              "FRONTEND_URL": "http://localhost:6002"
            },
            "TokenLambda": {
              "AUTH_TABLE_NAME": "components-core-AuthCode",
              "REPLAY_ATTACK_TABLE_NAME": "components-api-ReplayAttack",
              "TOKEN_ENDPOINT_URL": "http://localhost:6004/token",
              "JOURNEY_OUTCOME_ENDPOINT_URL": "http://localhost:6004/journeyoutcome",
              "JWT_SIGNING_KEY_ALIAS": "alias/components-core-JWTSigningKey"
            },
            "JourneyOutcomeLambda": {
              "JWT_SIGNING_KEY_ALIAS": "alias/components-core-JWTSigningKey",
              "TOKEN_ENDPOINT_URL": "http://localhost:6004/token",
              "JOURNEY_OUTCOME_ENDPOINT_URL": "http://localhost:6004/journeyoutcome",
              "JOURNEY_OUTCOME_TABLE_NAME": "components-core-JourneyOutcome"
            }
          }
          EOF

      - name: Install integration tests dependencies
        run: cd solutions/integration-tests && npm ci

      - name: Run integration tests
        run: |
          cd solutions/integration-tests
          touch .env
          echo "PRE_OR_POST_DEPLOY=pre" >> .env
          echo "PW_TEST_CONNECT_WS_ENDPOINT=ws://127.0.0.1:3000/" >> .env
          npm run test

      - name: Upload test results artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: always()
        with:
          name: integration-test-results
          path: solutions/integration-tests/test-results/
          retention-days: 7
