name: Integration test

permissions: {}

on:
  pull_request:
  merge_group:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Configure frontend environment
        run: |
          cd solutions/frontend
          cat > .env.integration-tests << 'EOF'
          ENVIRONMENT=local
          NODE_ENV=production
          USE_LOCALSTACK=1
          SESSIONS_SIGNER=localsessionsignerwhichmustbeatleast32chars  
          SESSIONS_TABLE_NAME=components-main-SessionStore
          ROOT_COOKIE_DOMAIN=localhost
          AWS_REGION=eu-west-2
          LOCALSTACK_ENDPOINT=http://localhost:4566
          LOCAL_KMS_ENDPOINT=http://localhost:4567
          LOCALSTACK_ACCESS_KEY_ID=test
          LOCALSTACK_ACCESS_KEY=test
          API_SESSION_COOKIE_DOMAIN=localhost    
          API_SESSIONS_TABLE_NAME=components-core-ApiSessions
          AUTHORIZE_ENDPOINT_URL=http://localhost:6004/authorize
          AUTH_CODE_TABLE_NAME=components-core-AuthCode
          JOURNEY_OUTCOME_TABLE_NAME=components-core-JourneyOutcome    
          AUTH_FRONTEND_URL=https://signin.account.gov.uk
          EOF

      - name: Configure stubs environment
        run: |
          cd solutions/stubs
          cat > .env.integration-tests << 'EOF'
          ENVIRONMENT=local
          NODE_ENV=production
          USE_LOCALSTACK=1
          MOCK_CLIENT_EC_PRIVATE_KEY_SSM_NAME=/components-mocks/MockClientEcPrivateKey  
          MOCK_CLIENT_EC_PUBLIC_KEY_SSM_NAME=/components-mocks/MockClientEcPublicKey  
          JAR_RSA_ENCRYPTION_KEY_ALIAS=alias/components-core-JARRSAEncryptionKey 
          DEFAULT_AUDIENCE=http://localhost:6004/authorize
          ACCESS_TOKEN_ISSUER=http://localhost:6003
          AUTHORIZE_URL=http://localhost:6004/authorize
          AWS_REGION=eu-west-2
          LOCALSTACK_ENDPOINT=http://localhost:4566
          LOCAL_KMS_ENDPOINT=http://localhost:4567
          LOCALSTACK_ACCESS_KEY_ID=test
          LOCALSTACK_ACCESS_KEY=test      
          API_TOKEN_ENDPOINT_URL=http://localhost:6004/token    
          API_JOURNEY_OUTCOME_ENDPOINT_URL=http://localhost:6004/journeyoutcome    
          EOF

      - name: Configure API environment
        run: |
          cd solutions/api
          cat > env.integration-tests.json << 'EOF'
          {
            "Parameters": {
              "NODE_OPTIONS": "--enable-source-maps",
              "ENVIRONMENT": "local",
              "NODE_ENV": "production",
              "USE_LOCALSTACK": "1",
              "LOCALSTACK_ENDPOINT": "http://account-components-localstack:4566",
              "LOCAL_KMS_ENDPOINT": "http://account-components-local-kms:8080",
              "LOCALSTACK_ACCESS_KEY_ID": "test",
              "LOCALSTACK_ACCESS_KEY": "test"
            },
            "AuthorizeLambda": {
              "AUTHORIZE_ERROR_PAGE_URL": "http://localhost:6002/authorize-error",
              "JAR_RSA_ENCRYPTION_KEY_ALIAS": "alias/components-core-JARRSAEncryptionKey",
              "AUTHORIZE_ENDPOINT_URL": "http://localhost:6004/authorize",
              "REPLAY_ATTACK_TABLE_NAME": "components-api-ReplayAttack",
              "API_SESSIONS_TABLE_NAME": "components-core-ApiSessions",
              "API_SESSION_COOKIE_DOMAIN": "localhost",
              "FRONTEND_URL": "http://localhost:6002"
            }          
          }
          EOF

      - name: Install integration tests dependencies
        run: cd solutions/integration-tests && npm ci

      - name: Run integration tests
        run: |
          cd solutions/integration-tests
          touch .env
          echo "PRE_OR_POST_DEPLOY=pre" >> .env
          echo "PW_TEST_CONNECT_WS_ENDPOINT=ws://127.0.0.1:3000/" >> .env
          npm run test

      - name: Upload test results artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: always()
        with:
          name: integration-test-results
          path: solutions/integration-tests/test-results/
          retention-days: 7
